@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GurbaniAkhar';
  src: url('/fonts/GurbaniAkharTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'GurbaniAkharHeavy';
  src: url('/fonts/GurbaniAkharHeavyTrue.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSansGurmukhi';
  src: url('/fonts/NotoSansGurmukhiTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansGurmukhi';
  src: url('/fonts/NotoSansGurmukhiBoldTrue.ttf') format('truetype');
  font-weight: bold;
}

html,
body {
  @apply bg-cover bg-top bg-fixed min-h-screen font-sans;
  background-image: url('assets/images/bg.png');
  /* background-color: black; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}